body {
    margin: 0px;
    background-color: #3c005a;
    font-family: "League Gothic", sans-serif;
    color: #00ced1;
  }
  
  a {
    color: #00ced1;
  }
  
  /* Header Style*/
  header {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-side,
  .nav-links {
    display: flex;
    justify-content: space-around;
    flex: 1;
  }
  #header-img {
    padding-top: 40px;
    height: 60%;
  }
  
  .brand h1 {
    font-size: 46px;
  }
  
  .brand h2 {
    font-size: 32px;
  }
  .nav-links {
    list-style: none;
  }
  nav {
    display: flex;
    flex: 1;
  }
  
  .nav-link {
    font-size: 46px;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
  
  .emaillist,
  .video {
    background-color: pink;
    border-radius: 10px;
    width: 50%;
  }
  
  .services,
  .locations {
    background-color: white;
    border-radius: 10px;
    width: 50%;
  }
  
  .emaillist,
  .services,
  .video,
  .locations {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
  }
  
  .register {
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 1000px) {
    .brand h1 {
      font-size: 40px;
    }
    .brand h2 {
      font-size: 30px;
    }
  
    .nav-link {
      font-size: 30px;
    }
  
    main {
      font-size: 16px;
    }
  
    .emaillist,
    .services,
    .video,
    .locations {
      margin: 10px;
      padding: 5px;
    }
  }
  